<!DOCTYPE html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
<!--   <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/monthly.css') }}"/>
  <input type="hidden" id ="hackathons" value="{{data}}">
</head>

<body>
  {% include 'navbar.html' %}
  <br>
  <br>

<div class="monthly" id="mycalendar"></div>

<br>
<br>
{%include 'footer.html'%}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src = "https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCFnkP6fCfIktkVXwMlHM80aDC7FMJpujA",
      authDomain: "hackparty-672ed.firebaseapp.com",
      databaseURL: "https://hackparty-672ed.firebaseio.com",
      projectId: "hackparty-672ed",
      storageBucket: "hackparty-672ed.appspot.com",
      messagingSenderId: "444356113260"
    };
    firebase.initializeApp(config);
    </script>
<script type="text/javascript" src="{{ url_for('static', filename='js/frontend.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src ="{{ url_for('static', filename='js/newEvent.js') }}">
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scriptInjector.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/monthly.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/eventLoader.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scriptInjector.js') }}"></script>
<script type = "text/javascript">$( document ).ready(function() {
});
    console.log( document.getElementById('hackathons').value.split(", ") );</script>
</body>
</html>
