<!DOCTYPE html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/monthly.css') }}"/>
</head>

<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
{% include 'navbar.html' %}

<div class="container center-align">
	<br>
	<br>
	<img src="{{ url_for('static', filename='images/materialicon1.jpg') }}" style="height: 20em; width: 20em;" class="circle">
</div>
<br>
<div class="container center-align">
	<h1 id="username">{{session['username']}}</h1>
	<h3 id="name">{{session['name']}}</h3>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col s3">
			<h2>Lanugages</h2>
				 <div class="row">
			    <div class="col s12">
			      <div class="row">
			        <div class="input-field col s13">
			          <i class="material-icons prefix">textsms</i>
			          <input type="text" id="skill" class="autocomplete" autocomplete="off">
			          <label for="skill">Autocomplete</label>
			        </div>
			        <div style="padding-top: 1em ">
			        	<button class="waves-effect waves-light btn-floating center-align orange"><i class="material-icons left">check</i></button>
			        </div>
			        <div id="tagsHolder">
			        	
			        </div>
			      </div>
			    </div>
			  </div>
		  </div>
		 <div class="col s3 offset-s2">
				<h2>Speciality</h2>
				 <form action="#">
			  	<p>
			  		<input type="checkbox" id="Blockchain" />
			  		<label for="Blockchain">Blockchain</label>
			  	</p>
			  	<p>
			  		<input type="checkbox" id="Data Science" />
			  		<label for="Data Science">Data Science</label>
			  	</p>
			  	<p>
			  		<input type="checkbox" id="UI/UX" />
			  		<label for="UI/UX">UI/UX & Design</label>
			  	</p>
			  	<p>
			  		<input type="checkbox" id="Server" />
			  		<label for="Server">Server Side Technology</label>
			  	</p>
			  	<p>
			  		<input type="checkbox" id="Android" />
			  		<label for="Android">Android Apps</label>
			  	</p>
			  	<p>
			  		<input type="checkbox" id="iOS" />
			  		<label for="iOS">iOS Apps</label>
			  	</p>
			  	<p>
			  		<input type="checkbox" id="ML" />
			  		<label for="ML">Machine Learning</label>
			  	</p>
			  	<p>
			  		<input type="checkbox" id="iot" />
			  		<label for="iot">Other IOT Technologies</label>
			  	</p>
		  	</form>
		</div>
		<div class="col s3 offset-s1">
			<h2>Miscellaneous</h2>
  			<div class="input-field col s12">
    			<select>
			      <option value="" disabled selected>Choose your option</option>
			      <option value="1">1</option>
			      <option value="2">2</option>
			      <option value="3">3</option>
			      <option value="4">4</option>
			      <option value="5">5+</option>
			    </select>
			    <label>How many hackathons have you been to?</label>
			    <br>
			  </div>
			 	<div class="input-field col s12">
    			<select>
			      <option value="" disabled selected>Choose your option</option>
			      <option value="1">Queen's University</option>
			      <option value="2">Concordia University</option>
			      <option value="3">University of Waterloo</option>
			      <option value="4">University of Toronto</option>
			      <option value="5">McGill University</option>
			    </select>
			    <label>Which university are you from?</label>
			    <br>
			  </div>
			  <div class="input-field col s12">
    			<select>
			      <option value="" disabled selected>Choose your option</option>
			      <option value="1">1</option>
			      <option value="2">2</option>
			      <option value="3">3</option>
			      <option value="4">4</option>
			      <option value="5">5+</option>
			    </select>
			    <label># of Internships//CS Jobs?</label>
			  </div>
			</div>
		</div>
		<br>
		<br>
		<div class="container center-align">
			 <button class="waves-effect waves-light btn-large" id="send" style="background-color: #80006f" onclick="send()"><i class="material-icons left" type="submit">send</i>Submit</button>
		</div>
	</div>
	</div>	
</div>
<br>
<br>
{%include 'footer.html'%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/frontend.js') }}"></script>
<script src = "https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script>
        $(document).ready(function() {
		  $('input').autocomplete({
		    data: {
		      "Apple": null,
		      "Microsoft": null,
		      "Google": 'https://placehold.it/250x250'
		    },
		    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
		    onAutocomplete: function(val) {
		      $('#tagsHolder').append('<div class="chip">'+$('#skill').val()+'<i class="close material-icons">close</i></div>');
		    },
		    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
		  });
		});
        
    </script>
  <script>
   $(document).ready(function() {
    $('select').material_select();
  });
    </script>
</body>
