<!DOCTYPE html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/monthly.css') }}"/>
</head>

<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
{% include 'navbar.html' %}

<div class="container center-align">
	<br>
	<br>
	<img src="{{ url_for('static', filename='images/materialicon1.jpg') }}" style="height: 20em; width: 20em;" class="circle">
</div>
<br>
<div class="container center-align">
	<h1 id="username">{{session['username']}}</h1>
	<h3 id="name">{{session['name']}}</h3>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col s3">
			<h2>Lanugages</h2>
				 <div class="row">
			    <div class="col s12">
			      <div class="row">
			        <div class="input-field col s13">
			          <i class="material-icons prefix">textsms</i>
			          <input type="text" id="skill" class="autocomplete" autocomplete="off">
			          <label for="skill">Autocomplete</label>
			        </div>
			        <div style="padding-top: 1em ">
			        	<button class="waves-effect waves-light btn-floating center-align orange"><i class="material-icons left">check</i></button>
			        </div>
			        <div id="tagsHolder">
			        	
			        </div>
			      </div>
			    </div>
			  </div>
		  </div>
		 <div class="col s3 offset-s2">
				<h2>Speciality</h2>
 				<div class="row">
			    <div class="col s12">
			      <div class="row">
			        <div class="input-field col s13">
			          <i class="material-icons prefix">textsms</i>
			          <input type="text" class="autocomplete" autocomplete="off" id="speciality">
			          <label for="skill">Autocomplete</label>
			        </div>
			        <div style="padding-top: 1em ">
			        	<button class="waves-effect waves-light btn-floating center-align orange"><i class="material-icons left">check</i></button>
			        </div>
			        <div id="tagsHolder">			        	
			        </div>
			      </div>
			    </div>
			  </div>
		  </div>
		</div>
		<div class="col s3 offset-s1">
			<h2>Miscellaneous</h2>
  			<div class="input-field col s12">
    			<select>
			      <option value="" disabled selected>Choose your option</option>
			      <option value="1">1</option>
			      <option value="2">2</option>
			      <option value="3">3</option>
			      <option value="4">4</option>
			      <option value="5">5+</option>
			    </select>
			    <label>How many hackathons have you been to?</label>
			    <br>
			  </div>
			 	<div class="input-field col s12">
    			<select>
			      <option value="" disabled selected>Choose your option</option>
			      <option value="1">Queen's University</option>
			      <option value="2">Concordia University</option>
			      <option value="3">University of Waterloo</option>
			      <option value="4">University of Toronto</option>
			      <option value="5">McGill University</option>
			    </select>
			    <label>Which university are you from?</label>
			    <br>
			  </div>
			  <div class="input-field col s12">
    			<select>
			      <option value="" disabled selected>Choose your option</option>
			      <option value="1">1</option>
			      <option value="2">2</option>
			      <option value="3">3</option>
			      <option value="4">4</option>
			      <option value="5">5+</option>
			    </select>
			    <label># of Internships//CS Jobs?</label>
			  </div>
			</div>
		</div>
		<br>
		<br>
		<div class="container center-align">
			 <button class="waves-effect waves-light btn-large" id="send" style="background-color: #80006f" onclick="send()"><i class="material-icons left" type="submit">send</i>Submit</button>
		</div>
	</div>
	</div>	
</div>
<br>
<br>
{%include 'footer.html'%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/frontend.js') }}"></script>
<script src = "https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script>
        $(document).ready(function() {
		  $('#skill').autocomplete({
		    data: {
		       "JavaScript (Vanilla)": "http://logo-load.com/uploads/posts/2016-09/javascript-logo.png",
		      "Node.js": "https://nodejs.org/static/images/logo.svg",
		      "React": 'https://placehold.it/250x250',
			  "Java": "https://logos-download.com/wp-content/uploads/2016/10/Java_logo_icon.png",
			  "C#": "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/C_Sharp_wordmark.svg/1200px-C_Sharp_wordmark.svg.png",
			  "C++": "https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png",
			  "D": "https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/D_Programming_Language_logo.svg/1200px-D_Programming_Language_logo.svg.png",
			  "Go/Golang": "https://www.google.ca/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png",
			  "python": "https://www.python.org/static/img/python-logo@2x.png",
			  "perl": "https://cdn.perl.org/perlweb/images/icons/header_camel.png",
			  "php": "https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1200px-PHP-logo.svg.png",
			  "HTML5": "https://www.w3.org/html/logo/downloads/HTML5_Logo_128.png",
			  "scala": "http://www.unixstickers.com/image/data/stickers/scala/Scala-logoText.sh.png",
			  "Rust": "https://www.rust-lang.org/logos/rust-logo-blk.svg",
			  "LiveScript": "https://s3.amazonaws.com/github/downloads/gkz/LiveScript/logo.png",
			  "coffeescript": "http://videotutorialspoint.com/wp-content/uploads/2016/04/coffeescript.png",
			  "Kotlin": "https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Kotlin-logo.svg/2000px-Kotlin-logo.svg.png",
			  "Haskell": "https://wiki.haskell.org/wikiupload/4/4a/HaskellLogoStyPreview-1.png",
			  "chapel": "https://chapel-lang.org/images/contest-winner.png",
			  "red": "https://upload.wikimedia.org/wikipedia/en/e/e9/Red_Language_Tower_Logo.png",
			  "Ruby": "https://www.vectorlogo.zone/logos/ruby/ruby-card.png",
			  "Swift": "https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Swift_logo.svg/2000px-Swift_logo.svg.png",
			  "TypeScript": "https://camo.githubusercontent.com/364fcc20318b28180fbea3e335792e45caf3d4b2/687474703a2f2f7777772e747970657363726970746c616e672e6f72672f6173736574732f696d616765732f69636f6e732f616e64726f69642d6368726f6d652d313932783139322e706e67",
			  "MicroPython": "https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Micropython-logo.svg/2000px-Micropython-logo.svg.png",
			  "PowerShell": "https://upload.wikimedia.org/wikipedia/commons/2/2f/PowerShell_5.0_icon.png",
			  "Prolog": "https://starbeamrainbowlabs.com/images/logos/swi-prolog.svg",
			  "C": "https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/The_C_Programming_Language_logo.svg/1200px-The_C_Programming_Language_logo.svg.png"
		    },
		    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
		    onAutocomplete: function(val) {
		      $('#tagsHolder').append('<div class="chip">'+$('#skill').val()+'<i class="close material-icons">close</i></div>');
		    },
		    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
		  });
		  $('#speciality').autocomplete({
		    data: {
		      "Blockchain": null,
		      "AI": null,
		      "chris": 'https://placehold.it/250x250'
		    },
		    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
		    onAutocomplete: function(val) {
		      $('#tagsHolder').append('<div class="chip">'+$('#skill').val()+'<i class="close material-icons">close</i></div>');
		    },
		    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
		  });
		});
        
    </script>
  <script>
   $(document).ready(function() {
    $('select').material_select();
  });
    </script>
</body>
