<!DOCTYPE html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
<!--   <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/monthly.css') }}"/>
</head>

<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
{% include 'navbar.html' %}
<table class="container">
<tr>
<th>
name
</th>
<th>
email
</th>
<th>
Skills
</th>
</tr>
{% for row in data %}
    <tr class="looper">
	  <td>{{ row[1].get('firstname') }} {{row[1].get('lastname')}}</td>
	  <td>{{ row[1].get('email') }}</td>
	  {% set languagelist = row[1].get('languages') %}
	  {% if languagelist is none %}
		<td>None</td>
	  {% else %}
		<td>{% for language in languagelist.replace(" ","").split(',') %}<div class="chip">{{language}}<i class="close material-icons">close</i></div>{% endfor %}</td>
	  {% endif %}
    </tr>
{% endfor %}
</table>
{%include 'footer.html'%}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src = "https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>

</body>
<!--<div class="chip">coffeescript<i class="close material-icons">close</i></div>-->