<!DOCTYPE html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
<!--   <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/monthly.css') }}"/>
</head>

<body>
{% include 'navbar.html' %}
<br>
<br>
<table class="container striped purple lighten-3 centered">
  <tr>
    <th style="text-align: center;">Name</th>
    <th style="text-align: center;">Email</th>
    <th style="text-align: center;">Languages</th>
    <th style="text-align: center;">Specialties</th>
  </tr>
{% for row in data %}
  <tr>
  <td><a>{{ row[1].get('firstname') }} {{row[1].get('lastname')}}</a></td>
    <td><a href="mailto:{{ row[1].get('email') }}">{{ row[1].get('email') }}</a></td>
    {% set languagelist = row[1].get('languages') %}
    {% if languagelist is none %}
  	<td>None</td>
    {% else %}
  	<td>{% for language in languagelist.replace(" ","").split(',') %}<div class="chip">{{language}}</div>{% endfor %}</td>
    {% endif %}


    {% set specialistList = row[1].get('speciality') %}
    {% if specialistList is none %}
    <td>None</td>
    {% else %}
    <td>{% for spec in specialistList.replace(" ","").split(',') %}<div class="chip">{{spec}}</div>{% endfor %}</td>
    {% endif %}
  </tr>

{% endfor %}
</table>
<br>
<br>
{%include 'footer.html'%}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src = "https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>

</body>
<!--<div class="chip">coffeescript<i class="close material-icons">close</i></div>-->